body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#controls {
  width: 780px;
  margin: 0 auto;
  position: relative;
  line-height: 20px;
}
label { font-weight: bold; }

#container {
  width: 780px;
  margin: 0 auto;
  margin-top: 30px;
  min-height: 100%;
  position: relative;
}

#partidos {
  width: 100%;
  margin-bottom: 20px;
  min-height: 770px;
}
#partidos div {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 5px;
  position: absolute;
  width: 100%;
}

#partidos div span.change {
  font-size: 8px;
  position: absolute;
  left: 190px;
  opacity: 1;
}
#partidos div span.change.equal {
  font-weight: bolder;
  font-size: 12px;
}
#partidos div span.change.up {
  color: green;
}
#partidos div span.change.down {
  color: red;
}

#partidos div:hover {
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

#year-line {
  pointer-events: none;
}

div.band { position: absolute; width: 100%; z-index: -1}
div.band.even {
  background-color: #eee;
}
div.band.odd {
  background-color: white;
}

#container span#extent-min, #container span#extent-max {
  position: absolute;
  top: -20px;
  font-size: 12px;
}

footer {
  margin: 0 auto;
  width: 780px;
  display: block;
  font-size: 80%;
  position: relative;
}

svg#points {
  position: absolute;
  top: 0px;
  left: 280px;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}

svg#points g.circle text {
  font-size: 8px;
  fill: #9D9D9F;
  -moz-transform: translate(7px,3px);
  -webkit-transform: translate(7px,3px);
  -ms-transform: translate(7px,3px);
  -o-transform: translate(7px,3px);
}

svg#sparklines {
  position: absolute;
  top: 0px;
  left: 214px;
  cursor: pointer;
}
svg#sparklines path{ fill: none; stroke-width: 1px; stroke: black;}
svg#sparklines circle.min { fill: blue; }
svg#sparklines circle.max { fill: #f00; }

svg.map { position: absolute; }
svg.map#clonethis { visibility: hidden; }
svg.map path { stroke: #333; stroke-width: 0.05px;}
svg.map path.invisible { opacity: 0; }
svg.map:hover {
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -webkit-transition: -webkit-transform 100ms;
  -moz-transition: -moz-transform 100ms;
  -webkit-backface-visibility: hidden;
}
